

<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col">
              <a href="#" class="media"><i class="fab fa-linkedin icon"></i></a>
            </div>
            <div class="col">
              <a href="#" class="media"><i class="fab fa-facebook icon"></i></a>
            </div>
            <div class="col">
             <a href="#" class="media"> <i class="fab fa-snapchat icon"></i></a>
            </div>
            <div class="col">
              <a href="#" class="media"><i class="fab fa-twitter-square icon"></i></a>
            </div>
        </div>
    </div>
  </footer>
