<!-- <mat-card>
<mat-list role="list">
  <mat-list-item role="listitem">Item 1</mat-list-item>
  <mat-list-item role="listitem">Item 2</mat-list-item>
  <mat-list-item role="listitem">Item 3</mat-list-item>
</mat-list>
</mat-card> -->

<nav class="navbar navbar-expand-lg navbar-dark nav footer">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a href="#" class="media"><i class="fab fa-linkedin icon"></i></a>
      </li>
      <li class="nav-item">
        <a href="#" class="media"><i class="fab fa-facebook icon"></i></a>
      </li>
      <li class="nav-item">
       <a href="#" class="media"> <i class="fab fa-snapchat icon"></i></a>
      </li>
      <li class="nav-item">
        <a href="#" class="media"><i class="fab fa-twitter-square icon"></i></a>
      </li>
    </ul>
  </div>
</nav>


