

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 50px;
  /* left: 0;



  color: white;
  margin-top: 50px; */
  background: #3f51b5;
  text-align: center;
}

.icon {
  font-size: 40px;
  /* margin-left: 10px; */

}

.media {
  color: white;
  margin-top: 5px;
}
