.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.card{
  margin: 30px auto 0 auto;
  width: 100%;
}

.footer {
  position: fixed;
  width: 100%;
  /* top: 0; */
  bottom: 0;
}
