<div class="container ">
  <div class="row ">
<div class="col">
    <mat-card class="example-card">
      <img mat-card-image src="../../assets/img/04.jpg" alt="Photo of a Shiba Inu" height="400px" width="400px">
      <mat-card-header>
        <mat-card-title>Hair-N-Paris</mat-card-title>
        <mat-card-subtitle>Web Design</mat-card-subtitle>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary"><a href="https://www.hairnparis.com"> See More</a></button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="col">
    <mat-card class="example-card">
      <img mat-card-image src="../../assets/img/travel.jpg" alt="Photo of a Shiba Inu" height="400px" width="400px">
      <mat-card-header>
        <mat-card-title>Travel Application</mat-card-title>
        <mat-card-subtitle>Web Design</mat-card-subtitle>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary"><a href="https://travelersapp-1b049.firebaseapp.com/">See More</a></button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="col">
    <mat-card class="example-card">
      <img mat-card-image src="../../assets/img/legacy2.jpg" alt="Photo of a Shiba Inu" height="400px" width="400px">
      <mat-card-header>
        <mat-card-title>Legacy Looks</mat-card-title>
        <mat-card-subtitle>Web Design</mat-card-subtitle>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary"><a href="https://legacylooks.com/">See More</a></button>
      </mat-card-actions>
    </mat-card>
  </div>
  </div>
</div>
