<!-- <h1>Home</h1> -->
<!-- <p>You're logged in with Angular 6 & Basic HTTP Authentication!!</p>
<div>
  Users from secure api end point:
  <ul>
    <li *ngFor="let user of users">{{user.firstName}} {{user.lastName}}</li>
  </ul>
</div> -->
<!-- <p><a [routerLink]="['/login']">Logout</a></p> -->

<!-- <div class="jumbotron">
  Welcome to my page
</div> -->

  <!-- <video width="1920" height="1080" autoplay loop>
    <source src="../../assets/img/purple_ink_01.mp4" type="video/mp4">

  </video> -->


  <!--  Content  -->
  <div>
<article>
  <!-- <h1>Princeton Design Co. <br /> <span>(Made by <a href="http://mattgross.io" target="_blank">Princeton Evans</a>, for <a href="https://evenvision.com">InVision</a>)</span></h1> -->
  <h1>Princeton Design Co. <br /> <span>(Made by <a href="https://github.com/Princetonevans/webStore" target="_blank">Princeton Evans</a>, for Invision)</span></h1>
</article>

<!--  Video is muted & autoplays, placed after major DOM elements for performance & has an image fallback  -->
<video autoplay loop id="video-background" muted plays-inline>
  <source src="../../assets/img/purple_ink_01.mp4" type="video/mp4">
</video>
</div>


<!-- <!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>WebStore</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body >
  <app-root></app-root> -->





<!-- <script src="https://www.gstatic.com/firebasejs/5.5.8/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBnfNhxKKJSjLItIRrmomYh1cy-76ESdf0",
    authDomain: "new-portfolio-77ee0.firebaseapp.com",
    databaseURL: "https://new-portfolio-77ee0.firebaseio.com",
    projectId: "new-portfolio-77ee0",
    storageBucket: "new-portfolio-77ee0.appspot.com",
    messagingSenderId: "328132836551"
  };
  firebase.initializeApp(config);
</script> -->
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script type="text/javascript" src="runtime.js"></script><script type="text/javascript" src="polyfills.js"></script><script type="text/javascript" src="styles.js"></script><script type="text/javascript" src="vendor.js"></script><script type="text/javascript" src="main.js"></script></body>
</html> -->
