<section class="jumbotron text-center image">
  <div class="container">
    <h1 class="jumbotron-heading text">Hi, I'm Princeton and I am Software Developer
    </h1>
    <p class="lead text"> I design stunning web and mobile applications. I would love to help you establish a
      dynamic online presence.
    </p>
    <p>
      <button mat-raised-button routerLink="/portfolio" color="primary">See my Portfolio
      </button>
    </p>
  </div>
</section>

<section class="jumbotron bg-light text-center">
  <div class="container">
    <h1 class="jumbotron-heading">
      Freelance Software Developer
    </h1>
    <p class="lead text-muted"> I specialize in building fast, responsive web and mobile applications that are
      functional, and SEO-friendly. I work with a wide range of clients, including ecommerce stores, law firms,
      entrepreneurs, martial arts schools, health & beauty shops, and start-ups.
    </p>
  </div>
</section>
