<!-- <h1>Home</h1> -->
<!-- <p>You're logged in with Angular 6 & Basic HTTP Authentication!!</p>
<div>
  Users from secure api end point:
  <ul>
    <li *ngFor="let user of users">{{user.firstName}} {{user.lastName}}</li>
  </ul>
</div> -->
<!-- <p><a [routerLink]="['/login']">Logout</a></p> -->

<!-- <div class="jumbotron">
  Welcome to my page
</div> -->

  <!-- <video width="1920" height="1080" autoplay loop>
    <source src="../../assets/img/purple_ink_01.mp4" type="video/mp4">

  </video> -->


  <!--  Content  -->
  <div>
<article>
  <!-- <h1>Princeton Design Co. <br /> <span>(Made by <a href="http://mattgross.io" target="_blank">Princeton Evans</a>, for <a href="https://evenvision.com">InVision</a>)</span></h1> -->
  <h1>Princeton Design Co. <br /> <span>(Made by <a href="https://github.com/Princetonevans/webStore" target="_blank">Princeton Evans</a>, for Invision)</span></h1>
</article>

<!--  Video is muted & autoplays, placed after major DOM elements for performance & has an image fallback  -->
<video autoplay loop id="video-background" muted plays-inline>
  <source src="../../assets/img/purple_ink_01.mp4" type="video/mp4">
</video>
</div>
